<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1>Dashboard</h1>
        </div>

        <div class="ui-g-12">
        </div>

        <div class="ui-g-12 ui-md-6">
            <p-chart type="doughnut" [data]="pieChartDataCreditSynthetic" [options]="optionsCreditSynthetic"></p-chart>
        </div>

        <div class="ui-g-12 ui-md-6">
            <p-chart type="doughnut" [data]="pieChartDataDebitSynthetic" [options]="optionsDebitSynthetic"></p-chart>
        </div>

        <div class="ui-g-12 ui-md-6">
            <p-chart type="doughnut" [data]="pieChartDataCreditAnalytical" [options]="optionsCreditAnalytical"></p-chart>
        </div>

        <div class="ui-g-12 ui-md-6">
            <p-chart type="doughnut" [data]="pieChartDataDebitAnalytical" [options]="optionsDebitAnalytical"></p-chart>
        </div>
    </div>
</div>