<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Dashboard</h1>
    </div>

    <div class="ui-g-12">
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Lançamentos de crédito por centro de custo">
        <p-chart type="doughnut" [data]="pieChartDataCredit" [options]="options"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Lançamentos de débito por centro de custo">
        <p-chart type="doughnut" [data]="pieChartDataDebit" [options]="options"></p-chart>
      </p-panel>
    </div>
  </div>
</div>
