<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-fieldset legend="Filtro" [toggleable]="true">
                <div class="ui-g-2 ui-fluid">
                    <label>Data Inicial</label>
                    <p-calendar required #dataInicial="ngModel" name="dataInicial" [(ngModel)]="filter.dtInicial" showIcon="true" dateFormat="dd/mm/yy"
                    [locale]="calendarPortuguese" showButtonBar="true" [inputStyle]="{'width':'135px'}"></p-calendar>
                    <app-message [control]="dataInicial" error="required" text="Data inicial é obrigatória" severity="error"></app-message>
                </div>
                <div class="ui-g-2 ui-fluid">
                    <label>Data Final</label>
                    <p-calendar required #dataFinal="ngModel" name="dataFinal" [(ngModel)]="filter.dtFinal" showIcon="true" dateFormat="dd/mm/yy"
                    [locale]="calendarPortuguese" showButtonBar="true" [inputStyle]="{'width':'135px'}"></p-calendar>
                    <app-message [control]="dataFinal" error="required" text="Data final é obrigatória" severity="error"></app-message>
                </div>
                <div class="ui-g-4 ui-fluid">
                    <label>Descrição do lançamento</label>
                    <input pInputText type="text" name="descricaoLancamento" style="text-transform:uppercase;" [(ngModel)]="filter.descricaoLancamento"
                      #descricaoLancamento="ngModel" (keyup)="columnFilter($event)">
                </div>
                <div class="ui-g-3" style="width:250px;margin-bottom:10px">
                  <label>Somente títulos em aberto</label>
                  <div class="ui-g-6"><p-radioButton class="ui-radiobutton-box" name="grpTituloAberto" value="Sim" label="Sim" [(ngModel)]="filter.somenteTitulosAbertos" inputId="yes"></p-radioButton></div>
                  <div class="ui-g-6"><p-radioButton class="ui-radiobutton-box" name="grpTituloAberto" value="Nao" label="Não" [(ngModel)]="filter.somenteTitulosAbertos" inputId="no"></p-radioButton></div>
                </div>
                <div class="ui-g-1 ui-fluid">
                  <label>Pesquisar</label>
                  <button pButton type="button" icon="fa fa-search" class="ui-button-icon ui-button-info" (click)="findCreditDebit()" style="width: 70px"></button>
                </div>
            </p-fieldset>
        </div>

        <div class="ui-g">
            <div class="ui-g-6">
                <p-table #dt [columns]="cols" [value]="dataSourceCredit" [responsive]="true" [resizableColumns]="true" [paginator]="false" [rows]="filter.linesPerPage" selectionMode="multiple" [(selection)]="selectedCredits" dataKey="id" [lazy]="true" (onLazyLoad)="loadTransactionsLazy($event)" [totalRecords]="totalRecordsCredit"
                    [loading]="loading" (onRowSelect)="onRowSelectCredit($event)" [scrollable]="true" scrollHeight="410px" (onRowUnselect)="onRowUnselectCredit($event)">
                    <ng-template pTemplate="caption">
                        <label class="header-receita-color">RECEITAS</label>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="col-data-header">Vencimento</th>
                            <th class="col-descricao-header">Descrição</th>
                            <th class="col-valor-header">Valor</th>
                            <th class="col-parcela-header">Parcela</th>
                            <th class="col-status-header">Status</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData" [style.color]="rowData.parcelaAtrasada ? 'red' : 'blue'">
                            <td class="ui-resizable-column, col-data">{{ rowData.vencimento | date: 'dd/MM/yyyy' }}</td>
                            <td class="ui-resizable-column, col-descricao">{{ rowData.descricao }}</td>
                            <td class="ui-resizable-column, col-valor">{{ rowData.valorParcela | number:'1.2-2'}}</td>
                            <td class="ui-resizable-column, col-parcela">{{ rowData.parcelaComTotalParcelas }}</td>
                            <td class="ui-resizable-column, col-status">{{ rowData.status }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="5">
                                Nenhum registro encontrado
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="ui-g-6">
                <p-table #dt [columns]="cols" [value]="dataSourceDebit" [responsive]="true" [resizableColumns]="true" [paginator]="false" [rows]="filter.linesPerPage" selectionMode="multiple" [(selection)]="selectedDebits" dataKey="id" [lazy]="true" (onLazyLoad)="loadTransactionsLazy($event)" [totalRecords]="totalRecordsDebit"
                    [loading]="loading" (onRowSelect)="onRowSelectDebit($event)" [scrollable]="true" scrollHeight="410px" (onRowUnselect)="onRowUnselectDebit($event)">
                    <ng-template pTemplate="caption">
                      <label class="header-despesa-color">DESPESAS</label>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="col-data-header">Vencimento</th>
                            <th class="col-descricao-header">Descrição</th>
                            <th class="col-valor-header">Valor</th>
                            <th class="col-parcela-header">Parcela</th>
                            <th class="col-status-header">Status</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData" [style.color]="rowData.parcelaAtrasada ? 'red' : 'blue'">
                            <td class="ui-resizable-column, col-data">{{ rowData.vencimento | date: 'dd/MM/yyyy' }}</td>
                            <td class="ui-resizable-column, col-descricao">{{ rowData.descricao }}</td>
                            <td class="ui-resizable-column, col-valor">{{ rowData.valorParcela | number:'1.2-2'}}</td>
                            <td class="ui-resizable-column, col-parcela">{{ rowData.parcelaComTotalParcelas }}</td>
                            <td class="ui-resizable-column, col-status">{{ rowData.status }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="5">
                                Nenhum registro encontrado
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="ui-g-6">
                <p-toolbar>
                    <!-- <div class="ui-toolbar-group-left">
            <a pButton type="button" label="Novo" icon="pi pi-plus" routerLink="/centrocusto/novo"></a>
            <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
            <button pButton type="button" label="Desmarcar todos" icon="fa fa-square-o"
              class="ui-button-success" (click)="uncheckAll()" [disabled]="qtdSelectedRows == 0"></button>
          </div> -->
                    <!-- <div class="ui-toolbar-group-right">
            <p-fileUpload #uploader mode="basic" name="myFiles[]" auto="true" chooseLabel="Upload"
              accept=".csv" customUpload="true" maxFileSize="1000000" (uploadHandler)="onUploadHandler($event, uploader)"
              pTooltip="Importar Arquivo" tooltipPosition="right">
            </p-fileUpload>
          </div> -->
                    <!-- <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Download de Exemplo" icon="fa fa-file-text"
              class="ui-button-raised" (click)="downloadExampleCSV({type: 'CC', filename: 'centro_custo.csv'})"
              pTooltip="Fazer download de arquivo de exemplo" tooltipPosition="left">
            </button>
          </div> -->
                </p-toolbar>
            </div>
            <div class="ui-g-6">
                <p-toolbar>
                    <!-- <div class="ui-toolbar-group-left">
            <a pButton type="button" label="Novo" icon="pi pi-plus" routerLink="/centrocusto/novo"></a>
            <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
            <button pButton type="button" label="Desmarcar todos" icon="fa fa-square-o"
              class="ui-button-success" (click)="uncheckAll()" [disabled]="qtdSelectedRows == 0"></button>
          </div> -->
                    <!-- <div class="ui-toolbar-group-right">
            <p-fileUpload #uploader mode="basic" name="myFiles[]" auto="true" chooseLabel="Upload"
              accept=".csv" customUpload="true" maxFileSize="1000000" (uploadHandler)="onUploadHandler($event, uploader)"
              pTooltip="Importar Arquivo" tooltipPosition="right">
            </p-fileUpload>
          </div> -->
                    <!-- <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Download de Exemplo" icon="fa fa-file-text"
              class="ui-button-raised" (click)="downloadExampleCSV({type: 'CC', filename: 'centro_custo.csv'})"
              pTooltip="Fazer download de arquivo de exemplo" tooltipPosition="left">
            </button>
          </div> -->
                </p-toolbar>
            </div>
        </div>
    </div>
</div>
