/* You can add global styles to this file, and also import other style files */
body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.header-receita-color {
  color: black
}

.header-despesa-color {
  color: black
}

.col-data-header {
  width: 95px;
}

.col-data {
  width: 95px;
  text-align: center;
}

.col-descricao-header {
  width: 180px;
}

.col-descricao {
  width: 180px;
}

.col-total {
  width: 180px;
  text-align: right
}

.col-valor-header {
  width: 70px;
}

.col-valor {
  width: 70px;
  text-align: right;
}

.col-parcela-header {
  width: 64px;
}

.col-parcela {
  width: 64px;
  text-align: center;
}

.col-status-header {
  width: 70px;
}

.col-status {
  width: 70px;
  text-align: center;
}

.col-receita-header {
  width: 160px;
}

.col-receita {
  width: 160px;
  text-align: center;
}

.col-despesa-header {
  width: 160px;
}

.col-despesa {
  width: 160px;
  text-align: center;
}

.col-primaria-header {
  width: 160px;
}

.col-primaria {
  width: 160px;
  text-align: center;
}

.col-secundaria-header {
  width: 160px;
}

.col-secundaria {
  width: 160px;
  text-align: center;
}

.col-observacao {
  width: 32px;
}

.col-acoes-header {
  width: 140px;
}

.col-acoes {
  width: 140px;
  text-align: center;
}

.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link[target=separator] {
  height: 0;
  display: block;
  padding: 0;
  min-height: 0;
  border-bottom: 1px #525252 solid;
}
